.container-fluid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 10px;
}

.card {
    height: 100%;
}

.card-body {
    text-align: center;
  }

.product-image {
    flex-grow: 1;
    width: 100%;
    object-fit: cover;
}

.card-title {
    font-size: 1.0rem;
}

.card-text {
    font-size: 1rem;
}

.btn-buy {
    padding: 10px 20px;
    background-color: #169ED4;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    width: 150px; 
}